<h3>Productos</h3>
<form action="" method="post">
    <input type="text" name="nombre" id="nombre">
    <input type="number" name="stock" id="stock">
    <input type="text" name="nombre" id="nombre">
    <input type="submit" value="Crear">
</form>
<form action="" method="post">
    <input type="text" name="nombre" id="nombre">
    <input type="number" name="stock" id="stock">
    <input type="text" name="nombre" id="nombre">
    <input type="submit" value="Eliminar">
</form>