<h3>Socket Cliente</h3>

<form action="" method="post" id="form">
    <div>
        Title
        <input type="text" name="nombre" id="nombre">
        Price
        <input type="number" name="price" id="price">
        Stock
        <input type="number" name="stock" id="stock">
    </div>
    <input type="submit" value="addProduct">
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="public/index.js"></script>