<form action="" method="post">
    <input type="text" name="name" id="name" placeholder="Ingrese su nombre">
    <input type="text" name="last_name" id="last_name" placeholder="Ingrese su apellido">
    <input type="email" name="email" id="email" placeholder="Ingrese su email">
    <input type="number" name="password" id="password" placeholder="Ingrese su contraseña">
    <input type="submit" value="Crear">
</form>